﻿@model Mvc.Models.mvcVukl3Model
@{
    ViewBag.Title = "AddOrEdit";
}

@*<h2>AddOrEdit</h2>*@
<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.VuklID)

        <div class="form-group">
            @Html.LabelFor(model => model.NSS)
            @Html.EditorFor(model => model.NSS)
            @Html.ValidationMessageFor(model => model.NSS)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telef)
            @Html.EditorFor(model => model.Telef)
            @Html.ValidationMessageFor(model => model.Telef)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specialnist)
            @Html.EditorFor(model => model.Specialnist)
            @Html.ValidationMessageFor(model => model.Specialnist)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Posada)
            @Html.EditorFor(model => model.Posada)
            @Html.ValidationMessageFor(model => model.Posada)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button">
            <input type="reset" value="Reset" class="btn button">
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    }
