﻿@model IEnumerable<Mvc.Models.mvcVukl3Model>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<br/>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("AddOrEdit","Vukl3")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.VuklID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NSS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialnist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posada)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.VuklID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialnist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posada)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit","Vukl3", new { id = item.VuklID })" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            <a onclick="Delete(@item.VuklID)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
    
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function (){
                var successMessage = '@TempData["SuccessMessage"]'
                if (successMessage != '')
                    alertify.success(successMessage);
            });

        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations', 'Are you sure you want to delete this record?', function () {
                window.location.href = '@Url.Action("Delete","Vukl3")/' + id;
            }, null)
        }
    </script>
    }
