﻿@model Test_Exam_MVC.Models.Goods
@{
    ViewBag.Title = "AddOrEdit";
}

@*<h2>AddOrEdit</h2>*@
<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.GoodsID)

        <div class="form-group">
            @Html.LabelFor(model => model.GoodsName)
            @Html.EditorFor(model => model.GoodsName)
            @Html.ValidationMessageFor(model => model.GoodsName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoodsQuan)
            @Html.EditorFor(model => model.GoodsQuan)
            @Html.ValidationMessageFor(model => model.GoodsQuan)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button">
            <input type="reset" value="Reset" class="btn button">
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
