﻿@model IEnumerable<Test_Exam_MVC.Models.Goods>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<br />

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("AddOrEdit","Goods")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GoodsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsQuan)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoodsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodsQuan)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.GoodsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GoodsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GoodsID })*@
                <a href="@Url.Action("AddOrEdit","Goods", new { id = item.GoodsID })" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
                
                <a onclick="Delete(@item.GoodsID)" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function (){
                var successMessage = '@TempData["SuccessMessage"]'
                if (successMessage != '')
                    alertify.success(successMessage);
            });

        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations', 'Are you sure you want to delete this record?', function () {
                window.location.href = '@Url.Action("Delete","Goods")/' + id;
            }, null)
        }
    </script>
}
